@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    /* scroll-behavior: smooth; */
}
body{
    min-height: 100vh;
    background: #f9f9f9;
    overflow-x: hidden;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}
.logo{
    font-size: 2em;
    color: #359381;
    margin-right: 250px;
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover, .navigation a.active{
    background-color: #359381;
    color: white;
}
.parallax{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 160px;
}
#text{
    position: absolute;
    font-size: 4.6em;
    color: white;
    text-shadow: 2px 2px 4px 4px rgba(0 0 0 .2);
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    padding: 100px;
    background-color: #003329;
}
.sec h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
}
.sec p{
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    /* margin-bottom: -70px; */
}